<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>用户主页面</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height: 100%;margin:0">
<div class="container" style="min-height:100%;height: 100%;padding-bottom: 60px;">
    <div class="jumbotron" style="background-color:#66CCFF">
        <h1 style="color:white;font-family: '楷体',serif">欢迎来到上大论坛</h1>
    </div>
    <p class="navbar-text">欢迎你，用户
        <button class="btn btn-default navbar-btn" onclick="jmp1()">个人页面</button>
    </p>
    <div class="blocklist">

    </div>
</div>
<script>
    var flag;
    //if(shenfen=="yonghu")
    //flag
    function jmp1(){
        //sessionStorage.setItem("user",$('#').text());//存储分区id或帖子id
        location.href="infomyself.html";//跳转页面
        //var blockid=sessionStorage.getItem("blockid");//跳转到的页面这样拿然后用$.get去拿json渲染页面
    }
    function jmp2(){
        windows.location.herf='block.html?blockId='+this.blockId;
    }
    $.get("/getAllBlocks2","json",function(blocks){
        var pic=new Array();
        pic[0]="<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\" style=\"color: #66CCFF\"></span>";
        pic[1]="<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\" style=\"color: #66CCFF\"></span>";
        pic[2]="<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\" style=\"color: #66CCFF\"></span>";
        pic[3]="<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\" style=\"color: #66CCFF\"></span>";
        pic[4]="<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\" style=\"color: #66CCFF\"></span>";
        for(let i = 0; i < blocks.length; i++)
        {
            let name = blocks[i].blockName;
            $(".blocklist").append('<div onclick="jmp2()" data-id="' + name + '">' + pic[i] + '<u>' + name + '</u></div>');
        }
    })
</script>
</body>
</html>