<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BlockMapper">

    <select id="getAllBlocks" resultMap="block">
        select * from block
    </select>

    <select id="getBlockById" resultMap="block">
        select * from block where block_id = #{blockId}
    </select>

    <select id="getBlockByLevel" resultMap="block">
        select * from block where block_level <![CDATA[ <= ]]> #{level}
    </select>

    <update id="updateBlock">
        update block
        <set>
            <if test="blockName != null"> block_name=#{blockName}, </if>
            <if test="blockLevel != null"> block_level=#{blockLevel}, </if>
            <if test="blockNumber != null"> block_number=#{blockNumber}, </if>
        </set>
        where block_id = #{blockId}
    </update>
    <resultMap id="block" type="block">
        <id property="blockId" column="block_id"></id>
        <result property="blockName" column="block_name"></result>
        <result property="blockLevel" column="block_level"></result>
        <result property="blockNumber" column="block_number"></result>
    </resultMap>
</mapper>