<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PageMapper">
    <select id="getAllPagesByTextId" resultMap="page">
        select text_id,page_floor,page_content,page_retime,user.user_id,user.user_name，page.page_replyfor
        from page,user
        where page.user_id = user.user_id and  text_id = #{textId}
        ORDER BY page_floor
    </select>

    <insert id="addPage">
        insert into page values(#{textId},#{pageFloor},#{pageContent},#{user.userId},#{pageRetime})
    </insert>

    <delete id="deletePage">
        delete from page where text_id = #{textId} and page_floor = #{pageFloor}
    </delete>

    <select id="getMaxFloor" resultType="int">
        select max(page_floor) from page where text_id = #{textId}
    </select>

    <select id="getTextmaster" resultType="int">
        select user_name from text where text_id=#{textId}
    </select>

    <resultMap id="page" type="com.example.demo.pojo.Page">
        <result property="textId" column="text_id"></result>
        <result property="pageFloor" column="page_floor"></result>
        <result property="pageContent" column="page_content"></result>
        <result property="pageRetime" column="page_retime"></result>
        <result property="replyFor" column="page_replyfor"></result>
        <association property="user" javaType="com.example.demo.pojo.User">
            <id property="userId" column="user_id"></id>
            <result property="userName" column="user_name"></result>
            <result property="userPassword" column="user_password"></result>
            <result property="userLevel" column="user_level"></result>
            <result property="userCreateTime" column="user_create_time"></result>
            <result property="userImagePath" column="user_image_path"></result>
        </association>
    </resultMap>
</mapper>
