<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="getUserById" resultMap="user">
        select * from user where user_id = #{userId}
    </select>

<!--    <update id="banuser">-->
<!--        update user-->
<!--        <set>-->
<!--            <if test="userState!=null">user_state = 1,</if>-->
<!--        </set>-->
<!--        where user_id = #{userId}-->
<!--    </update>-->

    <update id="recoverUser">
        update user
        <set>
            <if test="userState!=null">user_state = 0,</if>
        </set>
        where user_id = #{userId}
    </update>
        
    <insert id="addUser">
       insert into user(user_name,user_password,user_level,user_create_time,user_image_path,user_state) values(#{userName},#{userPassword},#{userLevel},#{userCreateTime},#{userImagePath},0)
    </insert>

    <update id="updateUser">
        update user
        <set>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="userPassword!=null">user_password = #{userPassword},</if>
            <if test="userLevel!=null">user_level = #{userLevel},</if>
            <if test="userName!=userImagePath">user_image_path = #{userImagePath}</if>
        </set>
        where user_id = #{userId}
    </update>
    <update id="banUser">
        call banuser(#{userId},#{outTime})
    </update>
    <resultMap id="user" type="user">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassword" column="user_password"></result>
        <result property="userLevel" column="user_level"></result>
        <result property="userCreateTime" column="user_create_time"></result>
        <result property="userImagePath" column="user_image_path"></result>
    </resultMap>
</mapper>
